<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Product</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" th:href="@{/}">Edit Product</a>
			</div>
		</div>
	</nav>
	<br>
	<br>
    <div align="center">
        <h1>Edit Product</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${product}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                      <div class = "form-group">
                    <label for ="username"> Product ID: </label> 
                        <input type="text" th:field="*{id}" readonly="readonly" class = "form-control" style="width:25%"/>
                    </div>
                </tr>        
                <tr>       
                <div class = "form-group">   
                <label for ="username"> Product Name:</label>    
                        <input type="text" th:field="*{name}"  class = "form-control" style="width:25%" />
                   </div>
                </tr>
                <tr>
                      <div class = "form-group">
                      <label for ="username"> Brand:</label>  
                    <input type="text" th:field="*{brand}"  class = "form-control" style="width:25%" />
                    </div>
                </tr>
                <tr>
                    <div class = "form-group">   
                <label for ="username"> Made In:</label> 
                    <input type="text" th:field="*{madein}"  class = "form-control" style="width:25%" />
                    </div>
                </tr>
                <tr>
                    <div class = "form-group">   
                <label for ="username"> Price:</label> 
                    <input type="text" th:field="*{price}"  class = "form-control" style="width:25%"/>
                    </div>
                </tr>                            
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-success">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>