<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create New Product</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><span class="material-icons" style="margin-right: 12px;">home</span>Product Management</a>
			</div>
			<div style="float:right;margin-top:10px">
			<a th:href="@{/logout}">
						<span class="material-icons" sec:authorize="isAuthenticated()">logout</span>
					</a>
			</div>
		</div>
	</nav>
	
	<br>
	<br>
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 col-md-offset-3">
   
        <h1>Create New Product</h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${product}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                <div class = "form-group">
					<label for ="username"> Product Name </label> :
                    <input type="text" class = "form-control" th:field="*{name}" style="width:50%" />
                    </div>
                </tr>
                <tr>
                 <div class = "form-group">
					<label for ="username"> Brand </label> :
                    <input type="text" th:field="*{brand}" class = "form-control" style="width:50%"   />
                </div>
                </tr>
                <tr>
                     <div class = "form-group">
					<label for ="username"> Made In </label> :
                    <input type="text" th:field="*{madein}" class = "form-control" style="width:50%" />
                </div>
                </tr>
                <tr>
                    <div class = "form-group">
					<label for ="username"> Price </label> :
                    <input type="text" th:field="*{price}" class = "form-control" style="width:50%" />
                    </div>
                </tr>                    
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-success">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
    </div>
    </div>
    </div>
    
</body>
</html>