<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	
</head>

<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Product Management</a>
			</div>
		</div>
	</nav>
	
	<br>
	<br>
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 col-md-offset-3">
   
        <h1>Search Product</h1>
        
        <form action="#" th:action="@{/searchproduct/}" th:object="${product}"
            method="post">
            
        <table border="0" cellpadding="10">
                <tr>
                    <td>Enter Product Id:</td>
                    <td><input type="text" th:field="*{id}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Search</button> </td>
                </tr>
            </table>
        </form>
            
</div> 
</div>
</body>
</html>